.accordion-button {
    font-size: 25px;
}

.accordion-button:is(.collapsed) {
    color: inherit;
    background-color:#1E90FF;
    color: white;
}

.accordion-button:is(.collapsed)::after {
    filter: brightness(0%) invert(100%);
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color:#004170;
    color: white;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(100%);
}

.accordion-button:focus {
    box-shadow: inherit;
}

