.accordion-button {
    font-size: 25px;
}

.accordion-button:is(.collapsed) {
    color: inherit;
    background-color: #3E92CC;
    color: white;
}

.accordion-button:is(.collapsed)::after {
    filter: brightness(0%) invert(100%);
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: #D8315B;
    color: white;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(100%);
}

.accordion-button:focus {
    box-shadow: inherit;
}