#index_background_img {
    width: 50%;
    align-self: center;
}

.card {
    size: 10rem;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.card-title {
    text-align: center;
}

.card-img {
    width: 10rem;
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}