.body {
    background-color: #FFFAFF;
}

#personal_info_container input {
    width: 280px;
    background-color: #3E92CC;
    color: white;
    border: 2.5px solid #3E92CC;
    border-radius: 4px;
    text-align: center;
}

#personal_info_container label {
    margin: 5px;
    width: 200px;
    padding-bottom: 2px;
    font: Verdana;
    font-size: 20px;
}

#treatment_header img {
    width: 100px;
    height: 100px;
}