#index_background_img {
    size-adjust: 100%;
}

#page_header {
    background-color: #F0F8FF;
}

#cards_container {
    background-color: #B9D9EB;
}

.card {
    align-self: center;
    margin: 30px;
    text-align: center;
}

.card-title {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

.card-img {
    width: 8rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}